<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.11">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>iso_binary_location</name>
          <description>Provide extracted EAS ISO Location
e.g.: /home/eas_iso/EAS_5.2</description>
          <defaultValue>/home/app1/EAS_5.0_ISO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>configured_file_location</name>
          <description>Provide PreConfigured Files to run application</description>
          <defaultValue>/home/app1/PreConfiguredFiles</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/subratamaji1989/sysprep.git</url>
        <credentialsId>subratamaji1989</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>AnsibleMaster</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;System Prepration&quot;
export ANSIBLE_HOST_KEY_CHECKING=False
ansible-playbook -i $configured_file_location/hosts ./AnsibleScripts/sysprep.yml</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>for f in `ls $iso_binary_location/ISO/Portal/*.zip`; do echo &quot;$f &quot;; done
temp=&quot;${f##*/}&quot;
ISO_Name=${temp%.*}
echo &quot;ISO Name: $ISO_Name&quot;


echo &quot;Extracting Portal&quot;
unzip -o $iso_binary_location/ISO/Portal/$ISO_Name.zip -d $iso_binary_location/ISO/Portal/

echo &quot;Deploying Application&quot;
export ANSIBLE_HOST_KEY_CHECKING=False
ansible-playbook -i $configured_file_location/hosts ./AnsibleScripts/FreshDeployUnix.yml -e iso_binary_location=$iso_binary_location/ISO/Portal/$ISO_Name -e configured_file_location=$configured_file_location</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>